.nav {
    font-family: Arial, Helvetica, sans-serif;
  }
  .language {
    display: flex;
    align-content: space-around;
  }
  
  .language > img {
    height: 18px;
    width: 18px;
  }
  
  .language > div {
    margin-left: 7px;
    margin-right: 7px;
    width: 1px;
    height: 20px;
    background-color: black;
  }
  
  .nav > img {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .nav > div {
    margin: 0px;
    padding: 0px;
  }
  
  .search {
    border: 1px solid;
    height: 2.5em;
    width: 20em;
    display: flex;
    align-items: baseline;
  }
  
  .search > div {
    max-width: 3em;
    width: 15%;
    background-color: blue;
    height: 100%;
  }
  
  .search > input {
    border: 0px;
    width: 85%;
    height: 90%;
    max-width: 25em;
  }
  
  input:placeholder-shown {
    margin: auto;
    padding-left: 7px;
  }
  
  .account {
    max-width: 100px;
    text-align: center;
  }
  
  .fav {
    max-width: 100px;
    text-align: center;
  }
  
  .cart {
    max-width: 100px;
    text-align: center;
  }
  
  .fa-search {
    margin: 0.8em;
  }
  
  .fa-user {
    font-size: 25px;
  }
  
  .fa-heart {
    font-size: 25px;
  }
  
  .fa-shopping-cart {
    font-size: 25px;
  }
  
  .smallnav h3 {
    max-width: 70px;
    margin: 0px;
  }
  
  .smallnav {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 80%;
    margin-bottom: -7px;
  }
  
  .realnav {
    padding-top: 1em;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: whitesmoke;
  }
  
  .somelinks {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .somelinks > a {
    text-decoration: none;
    margin-top: 0px;
    margin-right: 8px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: blue;
  }
  
  .outernewnav {
    width: 100%;
    background-color: #fff;
    height: 4em;
    margin: auto;
  }
  
  .newnav {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .one {
    width: 30%;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-top: 1.3em;
  }
  .one:hover > .cat > ul {
    display: block;
  }
  .catbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  
  .two {
    margin-right: 15%;
    display: flex;
    width: 75%;
    align-items: center;
  }
  .two > ul {
    list-style: none;
    display: flex;
    margin-top: auto;
    text-align: center;
  }
  .fa-chevron-down {
    margin: auto;
  }
  .two > ul > li {
    height: 100%;
    padding: 1.2em;
  }
  .two > ul >li > a {
    
    text-decoration: none;
    margin: auto;
  }
  .one > div {
    display: flex;
    text-align: center;
  }
  .fa-bars {
    margin: auto;
  }
  .mobile-logo-icon {
    display: none;
    padding-right: 5%;
  }
  
  .mobile-menu {
    height: 24px;
    width: 24px;
    display: none;
  }
  
  .mobile-nav-menu {
    position: fixed;
    z-index: 999;
    width: 80%;
    left: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    display: none;
  }
  
  .mobile-nav-menu ul {
    margin-top: 1em;
  }
  
  .mobile-nav-menu li {
    text-decoration: none;
    padding: 0.5em;
  }
  
  .home-close-buttons {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  
  .mobile-home-button {
    height: 24px;
    width: 24px;
  }
  
  .mobile-close-button {
    height: 20px;
    width: 20px;
  }
  
  .show-menu {
    display: block;
  }
  .cat {
    position: absolute;
    background-color: #f1f1f1;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1.2em;
  }
  .cat > ul {
    display: none;
    text-align: left;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
  }
  .cat li {
    margin: 1em;
  }
  
  @media only screen and (min-width: 520px) and (max-width: 950px) {
    .nav > img {
      display: none;
    }
    .main-img {
      display: none;
    }
    .language {
      display: none;
    }
    .mobile-nav-menu {
      width: 45%;
    }
    .search {
      width: 100px;
      padding: 2%;
      border: 0px;
    }
    .search > input {
      display: none;
    }
    .nav h5 {
      display: none;
    }
    .fav {
      display: none;
    }
    .somelinks {
      display: none;
    }
    .outernewnav {
      display: none;
    }
    .search > div {
      height: auto;
      width: fit-content;
      background-color: whitesmoke;
    }
  
    .mobile-menu {
      display: block;
      width: 1em;
      margin: 10px;
    }
    .account {
      margin: 2%;
    }
    .cart {
      margin: 2%;
    }
    .mobile-logo-icon {
      display: block;
      margin: auto;
      height: 35px;
      width: 145px;
    }
    .fa-search{
      text-align: center;
      margin: auto;
    }
  }
  
  
  @media only screen and (max-width: 520px) {
    .nav > img {
      display: none;
    }
    .main-img {
      display: none;
    }
    .language {
      display: none;
    }
    .fa-search{
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
    }
    .search {
      width: 100px;
      padding: 2%;
      border: 0px;
    }
    .search > input {
      display: none;
    }
    .nav h5 {
      display: none;
    }
    .fav {
      display: none;
    }
    .somelinks {
      display: none;
    }
    .outernewnav {
      display: none;
    }
    .search > div {
      background-color: whitesmoke;
    }
  
    .mobile-menu {
      margin: 5px;
      width: 1em;
      display: block;
    }
    .account {
      padding: 2%;
    }
    .cart {
      padding: 2%;
    }
    .mobile-logo-icon {
      display: block;
      margin: auto;
      height: 35px;
      width: 145px;
    }
  }
  